<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--====== Title ======-->
    <title>San Jose Hospital Callao</title>
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!--====== Fontawesome pro css ======-->
    <link rel="stylesheet" href="assets/css/all.css" />
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css" />
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick-menu.css" />
    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/default.css" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/responsive.css" />
  </head>
  <body>
    <!--======  PRELOADER PART START ======-->
    <div id="loading">
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div class="object" id="object_one"></div>
          <div class="object" id="object_two"></div>
          <div class="object" id="object_three"></div>
          <div class="object" id="object_four"></div>
        </div>
      </div>
    </div>
    <!--======  OVERLAY PART START ======-->
    <div class="overlay-search">
      <form action="#">
        <input type="text" placeholder="search here" /><i
          class="fas fa-search-location"
        ></i>
      </form>
      <span class="cross-search"><i class="fas fa-times"></i></span>
    </div>
    <!--======  HEADER PART START ======-->
    <header>
        <section class="top-header-area">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <span><i class="fas fa-phone"></i> +(01) 3197830</span
                  ><span
                    ><i class="fas fa-envelope-open-text"></i>email
                    <a
                      href="/cdn-cgi/l/email-protection"
                      class="__cf_email__"
                      data-cfemail="cca5a2aaa38ca9b4ada1bca0a9e2afa3a1"
                      >[email&#160;protected]</a
                    ></span
                  >
                </div>
                <div class="col-lg-6 text-right">
                  <a href="#" class="top-header-btn btn">Cita Médica</a>
                </div>
              </div>
            </div>
          </section>
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="logo">
                <a href="index.html" style="font-weight:bold; font-size: 18px;"
                  ><img src="assets/images/Logo_hospital_San_José_del_Callao.svg.png" width="60px" alt=""
                  
                />&nbsp; SAN JOSÉ</a>
                
              </div>
            </div>
            <div class="col-lg-10">
              <div class="menu-area d-flex">
                <div class="main-menu">
                  <nav>
                    <ul id="mobile-menu">
                      <li><a href="index.html">Inicio</a></li>
                      <li><a href="about.html">Nosotros</a></li>
                      <li><a href="service.html">Servicios</a></li>
                      <li><a href="team.html">Médicos</a></li>
                      <li><a href="contact.html">Contacto</a></li>
                    </ul>
                  </nav>
                </div>
                <div id="mobile-menu-wrapp" class="f-right"></div>
                <div class="header-search">
                </div>
                <div class="countries">
                  <ul>
                    <li>
                      <a href="#"
                        ><img src="assets/images/uer.png"  width="60px" alt="" />LOGIN
                        <i class="fa fa-angle-down"></i
                      ></a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <!--======  BREADCRUMB PART START ======-->
    <section class="breadcrumb breadcrumb-bg breadcrumb-bg-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content blog-page-heading-content">
              <h1>Nosotros</h1>
              <p>Inicio <span></span> Nosotros</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--======  BREADCRUMB PART END ======--><!--======  ABOUT PART START ======-->
    <section class="about-area pt-120 pb-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="about-img">
              <img src="assets/images/about-img-1.jpg" alt="" />
            </div>
            <div class="experince-absolute-box">
              <h1>28+</h1>
              <p>Experience</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about-contents">
              <div class="section-title">
                <h1>Welcome to Our Best Clinic</h1>
              </div>
              <p class="pb-30">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo. For us, there are no minor
                aspects, because a quality result always depends on trifles.
                Over the years of our activities.
              </p>
              <p class="pb-40">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation.
              </p>
              <a href="#" class="btn about-btn">learn more</a
              ><span class="brake-line"></span>
              <div class="about-projects">
                <ul>
                  <li>
                    <h1>50K+</h1>
                    <p>Happy Clients</p>
                  </li>
                  <li>
                    <h1>20+</h1>
                    <p>Departments</p>
                  </li>
                  <li>
                    <h1>80K+</h1>
                    <p>Expert English</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--======  COUNTER PART START ======-->
    <section class="counter-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="single-counter-area">
              <span class="counter-icon"><i class="fas fa-tooth"></i></span>
              <h1><span class="counter">540</span> +</h1>
              <h3>worldwide branches</h3>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laborum ex laudantium repellat enim modi neque.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-counter-area">
              <span class="counter-icon"><i class="fas fa-heartbeat"></i></span>
              <h1><span class="counter">640</span> +</h1>
              <h3>hospital formed</h3>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laborum ex laudantium repellat enim modi neque.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-counter-area">
              <span class="counter-icon"><i class="fas fa-brain"></i></span>
              <h1><span class="counter">238</span>+</h1>
              <h3>local partners</h3>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laborum ex laudantium repellat enim modi neque.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--======  TEAM PART START ======-->
    <section class="team-area about-page pb-120 pt-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 pb-80">
            <div class="section-title text-center">
              <h1>Our Expert Doctors</h1>
            </div>
          </div>
        </div>
        <div class="row team-carousel-active">
          <div class="col-lg-4">
            <div class="single-team-box">
              <div class="team-img">
                <img src="assets/images/team/1.jpg" alt="" />
                <div class="absolute-team-btn">
                  <a href="#" class="btn team-btn">appoint now</a>
                </div>
              </div>
              <div class="team-content">
                <h3>Norman Colins</h3>
                <p>Gynecology</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-team-box">
              <div class="team-img">
                <img src="assets/images/team/2.jpg" alt="" />
                <div class="absolute-team-btn">
                  <a href="#" class="btn team-btn">appoint now</a>
                </div>
              </div>
              <div class="team-content">
                <h3>Norman Colins</h3>
                <p>Gynecology</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-team-box">
              <div class="team-img">
                <img src="assets/images/team/3.jpg" alt="" />
                <div class="absolute-team-btn">
                  <a href="#" class="btn team-btn">appoint now</a>
                </div>
              </div>
              <div class="team-content">
                <h3>Harry Poterson</h3>
                <p>Gynecology</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-team-box">
              <div class="team-img">
                <img src="assets/images/team/4.jpg" alt="" />
                <div class="absolute-team-btn">
                  <a href="#" class="btn team-btn">appoint now</a>
                </div>
              </div>
              <div class="team-content">
                <h3>Norman Colins</h3>
                <p>Gynecology</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--======  FOOTER PART START ======-->
    <footer class="footer-bg">
        <section class="top-footer-area pt-120 pb-120">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="footer-wedget">
                  <div class="footer-logo">
                      <a href="index.html" style="font-weight:bold; font-size: 18px;"
                      ><img src="assets/images/Logo_hospital_San_José_del_Callao.svg.png" width="60px" alt=""
                      
                    />&nbsp; SAN JOSÉ</a>
                  </div>
                  <p>
                      Somos un Hospital del Sector Salud que brinda atenciones preventivas, promocionales, 
                      recuperativas y de rehabilitación a las personas, la familia y la población en un
                       ambiente saludable, contribuyendo al desarrollo sostenido del país.
                  </p>
                  <ul class="footer-social-links">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="footer-wedget">
                  <h4>Departamentos</h4>
                  <ul class="footer-links">
                    <li><a href="#">Pediatria</a></li>
                    <li><a href="#">Cardiología</a></li>
                    <li><a href="#">Neurología</a></li>
                    <li><a href="#">Dentista</a></li>
                    <li><a href="#">Urología</a></li>
                    <li><a href="#">Ginecología</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="footer-wedget">
                  <h4>Nuevas Noticias</h4>
                  <div class="footer-news">
                    <img src="assets/images/footer/1.png" alt="" />
                    <p class="footer-news-content">
                      Nuevas medicinas para controlar la gripe. <span>17 Nov 2022</span>
                    </p>
                  </div>
                  <div class="footer-news">
                    <img src="assets/images/footer/2.png" alt="" />
                    <p class="footer-news-content">
                      Aumento en la satisfacción de los pacientes. <br> <span>18 Nov 2022</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="footer-wedget">
                  <h4>Información Contacto</h4>
                  <p class="mb-20">
                    <span class="footer-icon"><i class="fas fa-phone"></i></span
                    ><span
                      >+(01) 3197830 <br />
                      +51 987463522</span
                    >
                  </p>
                  <p class="mb-20">
                    <span class="footer-icon"
                      ><i class="fas fa-envelope-open-text"></i></span
                    ><span
                      ><a
                        href="/cdn-cgi/l/email-protection"
                        class="__cf_email__"
                        data-cfemail="60090e060f20190f15120d01090c4e030f0d"
                        >[email&#160;protected]</a
                      ><br /><a
                        href="/cdn-cgi/l/email-protection"
                        class="__cf_email__"
                        data-cfemail="96f5f9f8e2f7f5e2d6f1fbf7fffab8f5f9fb"
                        >[email&#160;protected]</a
                      ></span
                    >
                    
                  </p>
                  <p>
                    <span class="footer-icon"
                      ><i class="fas fa-map-marked-alt"></i></span
                    ><span
                      > Magnolias 475, Carmen <br />
                      de La Legua - Reynoso 15103, <br>
                      Callao, Lima</span
                    >
                   
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="bootom-footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <p>
                  &copy; 2022 Todos los Derechos Reservados, Grupo 3
                </p>
              </div>
              <div class="col-lg-6 text-right col-md-6">
                <ul class="bottom-footer-links">
                  <li><a href="#">Terminos & Condiciones</a></li>
                  <li><a href="#">Politicas de Privacidad</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </footer>
    <!--======  BACK-TO-TOP PART START ======--><a id="button"
      ><i class="fa fa-arrow-up"></i></a
    ><!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    <!--====== Slick js ======-->
    <script src="assets/js/slick-menu.min.js"></script>
    <!--====== counterup js ======-->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!--====== counterup js ======-->
    <script src="assets/js/waypoints.min.js"></script>
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--====== onepage-nav Popup js ======--><!--====== Main js ======-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
